.zapStatus {
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #333333;
}

.zapStatus ion-icon {
    width: 23px;
    height: 23px;
    margin-left: 5px;
    margin-top: 6px;
}

.zapStatus p {
    margin-top: 14px;
    width: 59.2%;
    text-align: center;
}

.result {
    height: 244px;
}

span {
    display: flex;
    align-items: center;
}

.result img {
    width: 23px;
    height: 23px;
    margin-right: 13px;
}

.result h2 {
    font-weight: 700;
}

.restart {
    width: 44.5%;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
    background-color: #FB6B6B;
    border-radius: 5px;
    margin-top: 23px;
    cursor: pointer;
}