.zapScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #FB6B6B;
    position: relative;    
}
.logo{
    width: 255px;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    margin: 44px 0;
}
.logo img{
    width: 52px;    
}
.logo h1{
    font-family: 'Righteous', cursive;
    font-size: 36px;
    color: #ffffff;
}
